<div>
    <h2 class="budget-header">Budget Builder</h2>

    <!-- Filter -->
    <ng-container *ngTemplateOutlet="filterSection"></ng-container>

    <!-- Budget table -->
    <div [formGroup]="budgetForm">
        <ng-container *ngTemplateOutlet="budgetTable"></ng-container>
    </div>
</div>

<ng-template #filterSection>
    <div class="filter-container">
        <div class="filter-group">
            <label for="startMonth" class="filter-label">Start Month</label>
            <select id="startMonth" [(ngModel)]="startMonth" (change)="updateMonthFilter()" class="filter-select">
                <option *ngFor="let month of allMonths" [value]="month">{{ month }}</option>
            </select>
        </div>
        <div class="filter-group">
            <label for="endMonth" class="filter-label">End Month</label>
            <select id="endMonth" [(ngModel)]="endMonth" (change)="updateMonthFilter()" class="filter-select">
                <option *ngFor="let month of allMonths" [value]="month">{{ month }}</option>
            </select>
        </div>
    </div>
</ng-template>

<ng-template #budgetTable>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th *ngFor="let month of months">{{ month }}</th>
                <th>Actions</th>
            </tr>
        </thead>

        <!-- Income Section -->
        <ng-container
            *ngTemplateOutlet="categoriesTemplate; context: { type: 'income', categories: incomeCategories }"></ng-container>

        <!-- Expenses Section -->
        <ng-container
            *ngTemplateOutlet="categoriesTemplate; context: { type: 'expense', categories: expenseCategories }"></ng-container>

        <!-- Totals Section -->
        <tfoot>
            <ng-container
                *ngTemplateOutlet="totalAmountByMonth; context: { title: 'Profit/Loss', data: profitAndLoss }"></ng-container>

            <ng-container
                *ngTemplateOutlet="totalAmountByMonth; context: { title: 'Opening Balance', data: openingBalance }"></ng-container>

            <ng-container
                *ngTemplateOutlet="totalAmountByMonth; context: { title: 'Closing Balance', data: closingBalance }"></ng-container>
        </tfoot>
    </table>
</ng-template>


<ng-template #categoriesTemplate let-type="type" let-categories="categories">
    <tbody [formGroup]="categories">
        <tr>
            <td colspan="1">
                {{ type === 'income' ? 'Income' : 'Expenses' }}
            </td>
            <td colspan="14">
                <button (click)="addCategory(type)" class="add-category-btn">
                    {{ type === 'income' ? 'Add New Income Category' : 'Add New Expense Category' }}
                </button>
            </td>
        </tr>

        <ng-container *ngFor="let category of categories.controls; let parentIndex = index">
            <tr [formGroup]="category">
                <td colspan="1">
                    <input #firstInput type="text" placeholder="Parent Category" formControlName="categoryName" />
                </td>
                <td colspan="14">
                    <button (click)="addSubCategory(category)" class="add-subcategory-btn">Add Subcategory</button>
                </td>
            </tr>

            <ng-container *ngIf="category.get('subCategories')">
                <tr *ngFor="let subCategory of getSubCategories(category).controls; let subIndex = index"
                    [formGroup]="getSubCategory(subCategory)"
                    (contextmenu)="onRowRightClick($event, subIndex, subCategory)">
                    <td>
                        <input type="text" [placeholder]="type === 'income' ? 'Income Name' : 'Expense Name'"
                            formControlName="subCategoryName" />
                    </td>
                    <ng-container formArrayName="values">
                        <td *ngFor="let valueCtrl of getMonthValues(subCategory).controls; let j = index">
                            <input type="number" [formControlName]="j" />
                        </td>
                    </ng-container>
                    <td>
                        <button class="delete-btn"
                            (click)="deleteSubCategory(type, parentIndex, subIndex)">Delete</button>
                    </td>

                    <div *ngIf="showContextMenu" class="context-menu" [style.top.px]="contextMenuPosition.y"
                        [style.left.px]="contextMenuPosition.x">
                        Apply to all
                    </div>
                </tr>
            </ng-container>

            <tr>
                <td>Sub Total</td>
                <td *ngFor="let monthIndex of monthIndexes">
                    {{ calculateCategorySubTotal(category, monthIndex) }}
                </td>
                <td></td>
            </tr>
        </ng-container>

        <tr>
            <td>
                {{ type === 'income' ? 'Income Total' : 'Expense Total' }}
            </td>
            <td *ngFor="let monthIndex of monthIndexes">
                {{ calculateMonthlyTotal(type === 'income' ? incomeCategories : expenseCategories, monthIndex) }}
            </td>
            <td></td>
        </tr>
    </tbody>
</ng-template>

<ng-template #totalAmountByMonth let-title="title" let-data="data">
    <tr>
        <td>{{ title }}:</td>
        <td *ngFor="let monthIndex of monthIndexes">
            {{ data[monthIndex] }}
        </td>
        <td></td>
    </tr>
</ng-template>